<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="SSL" value="true" />
    <add key="FromEmail" value="100000till25092021@gmail.com" />
    <add key="Username" value="100000till25092021@gmail.com" />
    <add key="Password" value="Ansari123" />
  </appSettings>
  
  <connectionStrings>
    <add name="MarketingConnSt" connectionString="Data Source=ADA-279;Initial Catalog=MarketingSolutionDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>